<div class="column main-pane">


  <div class= "content-pane">
<div class="title-text">My Profile </div>

<div class="columns">
<div class="column col-2 field1">Name: </div><div class="column col-10 fields"><%= @current_student.name %></div>
<div class="column col-2 field1">Mat No: </div><div class="column col-10 fields"><%= @current_student.matno %></div>
<div class="column col-2 field1">Department: </div><div class="column col-10 fields"><%= @current_student.department%></div>
<div class="column col-2 field1">Email: </div><div class="column col-10 fields"><%= @current_student.email %></div>
<div class="column col-2 field1">Level: </div><div class="column col-10 fields"><%= @current_student.level %></div>
<div class="column col-2 field1">Hall: </div><div class="column col-10 fields"><%= @current_student.hall %></div>


<div class="column col-2 field1">Courses: </div><div class="column col-10 field course_fields" ><%= @current_student.courses|>Enum.map(&(&1.title)) |> Enum.join(", ") %></div>

</div>
<span class="btn btn-primary" style="margin-top:20px"><a style="color:white" href= "/courses"> Add Courses</a></span>

  </div>
  </div>